.container {
	width: 95%;
}

#input {
	
	margin: 1em auto;
	width: 20em;
}

/*MAIN CONTAINER STYLING*/
.spacer {
	margin-top: 60px;
}

.card {
	margin: 0em;
	padding: 1em;
	text-align: center;
	border: 1px solid #000;
	min-height: 25em;
}

.card:hover, .selected {
	border: 2px solid #000;
	background-color: #caebf2;
}